@import "./elements/image.scss";
@import "./elements/button.scss";
@import "./common.scss";

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 14px;
}

body {
    font-family: 'Roboto Mono', monospace;
}

@each $size-name, $size in $size-map {
    .#{$size-name} {
        font-size: $size;
    }
};

.right {
    float: right;
}

.left {
    float: left;
}

.hidden {
    display: none;
}

.disabled {
    cursor: not-allowed;
    opacity: .6 !important;
    background-image: none !important;
    pointer-events: none !important;
}